@model WebApp.MVC.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Something went wrong";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Oops! Something went wrong, do not worry. Our team is aware and will work on this!</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}